﻿@{
    ViewData["Title"] = "Home Page";
}
@section css {
    @await Html.PartialAsync("~/Views/Shared/Partial/_Styles.cshtml", "home")
}

@section Scripts {
    @await Html.PartialAsync("~/Views/Shared/Partial/_Scripts.cshtml", "home")
}
<div class="text-center">
    <home></home>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
