﻿@{
    ViewData["Title"] = "Privacy Policy";
}
@section css {
    @await Html.PartialAsync("~/Views/Shared/Partial/_Styles.cshtml", "about")
}

@section Scripts {
    @await Html.PartialAsync("~/Views/Shared/Partial/_Scripts.cshtml", "about")
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
